<div class="form-container overlay">
    <div class="row">
      <div class="offset-md-5 offset-sm-3 col-md-14 col-sm-18 form">
        <div class="form-text">
          <h2 class="overlay-text">Create An Account</h2>
          <p class="overlay-text">Please fill in your information and choose to be Provider or Consumer for <strong style="color: black">{{email }}</strong>.</p>
        </div>
        <div class="form-inputs">
          <div class="form-icon"> 
            <p>VERIFICATION</p>
          </div>
          <form [formGroup]="verificationForm" (ngSubmit)="onSubmit()" novalidate>
            <label for="code">CODE</label>
            <input type="text" name="" id="code" placeholder="Enter Code" formControlName="code">
            <span *ngIf="this.verificationForm.errors" class="error">Please enter the verification code.</span>
            <button class="btn btn-primary" type="submit" value="Verify" [disabled]="!verificationForm.valid">VERIFY</button>            
          </form>
        </div>
      </div>
  
    </div>
  </div>