<!-- <nav class="navbar navbar-expand-lg  fixed-top bg-white ">
    <div class="container">
       <a class="navbar-brand" href="#">
        <img src="./../../../../assets/images/top_logo.png" class="img-fluid logo_style">
        
       </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault2" aria-controls="navbarsExampleDefault2" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon navbar_style" ><i class="fa fa-reorder "></i></span>
        </button>
             
        <div class="collapse navbar-collapse show" id="navbarsExampleDefault2">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" id="tab1" href="index.php">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">                              
              <a class="nav-link" id="tab2" href="about-us.php"> About us</a>
            </li>
        
             <li class="nav-item">
              <a class="nav-link" id="tab3" href="#">Services </a>
            </li>
             <li class="nav-item">
              <a class="nav-link" id="tab4" href="#"> Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="tab5" href="contact-us.php"> Contact us</a>
            </li>
          </ul>
          <a *ngIf="!userData.loggedIn" class="btn btn-primary" routerLink="dproz/login">Login</a>
          <a *ngIf="!userData.loggedIn" class="btn btn-primary" routerLink="dproz/signup" style="background: black; margin-left:10px; color:#fff">Signup</a>
          <div class="row dropdown" *ngIf="userData.loggedIn">
              <div class="col">
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Options</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item" routerLink="dproz/profile">Profile</button>
                    <button class="dropdown-item"  (click)="logout()">Logout</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </nav> -->

  <!-- container -->


<div class="dproz-header">
  <div class="row">

    <div class="col-md-10 dproz-logo" >
      <img routerLink="dproz/home" src="../../../../assets/images/Vector Smart Object.png" alt="logo dproz">
    </div>
    <div class="col-md-14 navigation">
      <a routerLink="dproz/home" routerLinkActive="active-link">Home</a>
      <a routerLink="dproz/about-us" routerLinkActive="active-link">About Us</a>
      <a routerLink="dproz/services" routerLinkActive="active-link">Services</a>
      <a routerLink="dproz/blog" routerLinkActive="active-link">Blog</a>
      <a routerLink="dproz/contact-us" routerLinkActive="active-link">Contact Us</a>
      <a *ngIf="!userData.loggedIn" class="btn btn-primary" routerLink="dproz/login">Login</a>
      <a *ngIf="!userData.loggedIn" class="btn btn-primary" routerLink="dproz/signup" style="background: black; margin-left:10px; color:#fff">Signup</a>
      <div class="row dropdown" *ngIf="userData.loggedIn">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Options</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item" routerLink="dproz/profile">Profile</button>
                <button class="dropdown-item"  (click)="logout()">Logout</button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>