<div class="dproz-header">
<div class="row">

  <div class="col-md-10 dproz-logo">
    <img src="../../../../assets/images/Vector Smart Object.png" alt="logo">
  </div>
  <div class="col-md-14 navigation">
    <a routerLink="dproz/home" routerLinkActive="active-link">Home</a>
    <a routerLink="dproz/info" routerLinkActive="active-link">About Us</a>
    <a routerLink="dproz/services" routerLinkActive="active-link">Services</a>
    <a routerLink="dproz/blog" routerLinkActive="active-link">Blog</a>
    <a routerLink="dproz/contact" routerLinkActive="active-link">Contact Us</a>
    <a class="btn btn-primary" routerLink="dproz/login">Login</a>
    <a  class="btn btn-primary" routerLink="dproz/signup"  style="background: black; margin-left:10px; color:#fff">Signup</a>
  </div>
</div>
</div>