.container {
    margin-top: 10vh;
    text-align: center;
    display: flex;
    flex-direction: column;

    .input {
        display: inline-flex;
        justify-content: center;
    }

    .error {
        color: red;
    }
}