<div class="contact_us_style">
  <div class="container">
    <div class="row contact_row_style py-5">
      <div class="col-lg ">
        <h3>Password Change</h3>
        <div class="border_top border"></div>
       
        <p>HomePage  &nbsp;&nbsp; /&nbsp;&nbsp; <span>Passwod Reset</span> </p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!resetPassword" class="password-container">
  <div class="form offset-md-5 offset-sm-3 col-md-14 col-sm-18 ">
    <h5 class="overlay-text">Request Password Change</h5>    
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" novalidate>
      <div  *ngIf="activeForm==='changePasswordForm'" class="form-element">
        <label for="oldPassword">OLD PASSWORD</label>
        <input type="password" name="oldPassword" id="oldPassword" placeholder="Enter Old Password" formControlName="oldPassword">
        <!-- <span *ngIf="hasError('password', 'required')" class="error">Please enter a password.</span>
        <span *ngIf="hasError('password', 'minlength')" class="error">Password should be at least 8 characters.</span> -->
      </div>
      <div class="form-element">
        <label for="newPassword">NEW PASSWORD</label>
        <input type="password" name="newPassword" id="newPassword" placeholder="Enter New Password" formControlName="newPassword">
        <!-- <span *ngIf="hasError('password', 'required')" class="error">Please enter a password.</span>
        <span *ngIf="hasError('password', 'minlength')" class="error">Password should be at least 8 characters.</span> -->
      </div>
      <div class="form-element">
        <label for="confirmPassword">CONFIRM NEW PASSWORD</label>
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm New Password" formControlName="confirmPassword">
        <!-- <span *ngIf="hasError('password', 'required')" class="error">Please enter a password.</span>
        <span *ngIf="hasError('password', 'minlength')" class="error">Password should be at least 8 characters.</span> -->
      </div>
      <!-- <span *ngIf="forgotPasswordForm.errors" class="error">Please enter the verification code.</span> -->
      <button class="btn btn-primary" type="submit" value="Submit" [disabled]="changePasswordForm.invalid">Submit</button>            
    </form>
  </div>
  <p *ngIf="error" style="margin-top: 12px;" class="error">Please enter a valid email.</p>
</div>
<div *ngIf="resetPassword" style="text-align: center; margin-top: 10vh;">
  <img style="height: 100px;" src="../../../assets/images/check-mark-md.png">
  <p style="margin-top: 12px;">An email has been sent for reseting the password to your registered email.</p>
</div>