<div *ngIf="!resetPassword" class="container">
  <div *ngIf="activeForm==='forgotPasswordForm'" class="form offset-md-5 offset-sm-3 col-md-14 col-sm-18 ">
    <h5 class="overlay-text">Request Reset</h5>
    <p class="overlay-text">Please enter your registered email address.</p>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-element">
        <label for="emailId">Email Address</label>
        <input type="text" name="" id="emailId" placeholder="Enter EmailId" formControlName="emailId">
        <!-- <span *ngIf="hasError('password', 'required')" class="error">Please enter a password.</span>
          <span *ngIf="hasError('password', 'minlength')" class="error">Password should be at least 8 characters.</span> -->
      </div>
      <span *ngIf="forgotPasswordForm.errors" class="error">Please enter the verification code.</span>
      <button class="btn btn-primary" type="submit" value="Submit" [disabled]="!forgotPasswordForm.valid">Submit</button>            
    </form>
  </div>
  <div *ngIf="activeForm==='changePasswordForm'" class="form offset-md-5 offset-sm-3 col-md-14 col-sm-18 ">
    <h5 class="overlay-text">Request Password Change</h5>    
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-element">
        <label for="oldPassword">OLD PASSWORD</label>
        <input type="password" name="oldPassword" id="oldPassword" placeholder="Enter Old Password" formControlName="oldPassword">
        <!-- <span *ngIf="hasError('password', 'required')" class="error">Please enter a password.</span>
        <span *ngIf="hasError('password', 'minlength')" class="error">Password should be at least 8 characters.</span> -->
      </div>
      <div class="form-element">
        <label for="newPassword">NEW PASSWORD</label>
        <input type="password" name="newPassword" id="newPassword" placeholder="Enter New Password" formControlName="newPassword">
        <!-- <span *ngIf="hasError('password', 'required')" class="error">Please enter a password.</span>
        <span *ngIf="hasError('password', 'minlength')" class="error">Password should be at least 8 characters.</span> -->
      </div>
      <div class="form-element">
        <label for="confirmPassword">CONFIRM NEW PASSWORD</label>
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm New Password" formControlName="confirmPassword">
        <!-- <span *ngIf="hasError('password', 'required')" class="error">Please enter a password.</span>
        <span *ngIf="hasError('password', 'minlength')" class="error">Password should be at least 8 characters.</span> -->
      </div>
      <span *ngIf="forgotPasswordForm.errors" class="error">Please enter the verification code.</span>
      <button class="btn btn-primary" type="submit" value="Submit" [disabled]="!forgotPasswordForm.valid">Submit</button>            
    </form>
  </div>
  <p *ngIf="error" style="margin-top: 12px;" class="error">Please enter a valid email.</p>
</div>
<div *ngIf="resetPassword" style="text-align: center; margin-top: 10vh;">
  <img style="height: 100px;" src="../../../assets/images/check-mark-md.png">
  <p style="margin-top: 12px;">An email has been sent for reseting the password to your registered email.</p>
</div>