<div style="background-color:#F5F5F5; width: 100% ">
  <div style="margin: 20px auto auto; width:70%; "><mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title><span style="margin:10px;">  {{user.firstName}} {{user.lastName}}</span></mat-card-title>
    <mat-card-subtitle> <span style="margin:10px;">  {{user.emailAddress}}</span></mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <mat-tab-group>
        <mat-tab label="User Profile">
            <mat-card-content>
  
            <dproz-prof-profile></dproz-prof-profile>
  
              </mat-card-content>
           </mat-tab>
      <mat-tab label="Basic Info">
          <mat-card-content>

           <dproz-basic-info>

           </dproz-basic-info>

            </mat-card-content>
         </mat-tab>
      <mat-tab label="Services">   <mat-card-content>
          <div style="float:left; margin: 10px 20px; color: 	#50B2EC;">
              Click the (+) Sign to Add Services
              </div>
        <div style="float:right;">
          <button mat-icon-button (click)="openDialog()">
            <mat-icon>add</mat-icon></button>
          </div>
   <div style="clear: both;">
     <mat-accordion>
       <div *ngFor="let category of categoryArray" >
          <mat-expansion-panel (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
      <mat-panel-title>
      {{category.name}}
      </mat-panel-title>
      <mat-panel-description>
       <!-- {{panelOpenState ? 'open' : 'closed'}} -->
      </mat-panel-description>
      </mat-expansion-panel-header><ul style="list-style-type:square">
      <div *ngFor="let service of category.services" style="clear:both; padding: 0px 0px 10px;">
        <li>
          <div style="float:left;">{{service.name}}</div><div style="float:right;"><button mat-icon-button (click)="openDialog()"> 
            <mat-icon>delete</mat-icon></button></div></li>
      </div></ul>
      </mat-expansion-panel>
       </div>
   
</mat-accordion>
   </div>
      
        </mat-card-content> </mat-tab>
      <mat-tab label="Experience">    <mat-card-content>
          <dproz-experience>

          </dproz-experience>
          </mat-card-content> </mat-tab>
    </mat-tab-group>
    <!-- <button >View All</button> -->
  </mat-card-actions>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->

 
</mat-card></div></div>