<div style="background-color:#F5F5F5; width: 100% ">
  <div style="margin: 20px auto auto; width:70%; "><mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title><span style="margin:10px;">  {{user.firstName}} {{user.lastName}}</span></mat-card-title>
    <mat-card-subtitle> <span style="margin:10px;">  {{user.emailAddress}}</span></mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <mat-tab-group>
        <mat-tab label="User Profile">
            <mat-card-content>
  
            <dproz-prof-profile></dproz-prof-profile>
  
              </mat-card-content>
           </mat-tab>
      <mat-tab label="Basic Info">
          <mat-card-content>

           <dproz-basic-info>

           </dproz-basic-info>

            </mat-card-content>
         </mat-tab>
      <mat-tab label="Services">   <mat-card-content>
        <div style="float:right; clear: both;">
          <button mat-icon-button (click)="openDialog()">
            <mat-icon>add</mat-icon></button>
          </div>
   
         <div>
            <mat-card-subtitle style="font-size: 17px">Chakula</mat-card-subtitle>
    <mat-card-subtitle>Wali</mat-card-subtitle><div style="float:right; clear: both;"><button mat-icon-button (click)="openDialog()"> 
        <mat-icon>delete</mat-icon></button></div>
           <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
           </p>
           <mat-card-subtitle>Ugali</mat-card-subtitle><div style="float:right"><button mat-icon-button (click)="openDialog()"> <mat-icon>delete</mat-icon></button></div>
            <p>
               The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
               A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
               bred for hunting.
            </p>
         </div><hr/>
       
          <div>
          <mat-card-subtitle style="font-size: 17px">Biashara ya pili</mat-card-subtitle>
          <mat-card-subtitle>
              Mboga
            </mat-card-subtitle><div style="float:right"><button mat-icon-button (click)="openDialog()"> <mat-icon>delete</mat-icon></button></div>
              <p>
                 The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                 A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                 bred for hunting.
              </p>
            </div><hr/>
            <div>
            <mat-card-subtitle style="font-size: 17px">biashara ya tatu</mat-card-subtitle>
            <mat-card-subtitle>
              Madawa
            </mat-card-subtitle><div style="float:right"><button mat-icon-button (click)="openDialog()"> <mat-icon>delete</mat-icon></button></div>
                <p>
                   The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                   A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                   bred for hunting.
                </p>
              </div><hr/>
        </mat-card-content> </mat-tab>
      <mat-tab label="Experience">    <mat-card-content>
          <div style="float:right; clear: both;">
            <button mat-icon-button (click)="openDialog()">
              <mat-icon>add</mat-icon></button>
            </div>
     
           <div>
              <mat-card-subtitle style="font-size: 17px">Chakula</mat-card-subtitle>
      <mat-card-subtitle>Wali</mat-card-subtitle><div style="float:right; clear: both;"><button mat-icon-button (click)="openDialog()"> 
          <mat-icon>edit</mat-icon></button></div>
             <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
             </p>
             <mat-card-subtitle>Ugali</mat-card-subtitle><div style="float:right"><button mat-icon-button (click)="openDialog()"> <mat-icon>edit</mat-icon></button></div>
              <p>
                 The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                 A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                 bred for hunting.
              </p>
           </div><hr/>
         
            <div>
            <mat-card-subtitle style="font-size: 17px">Biashara ya pili</mat-card-subtitle>
            <mat-card-subtitle>
                Mboga
              </mat-card-subtitle><div style="float:right"><button mat-icon-button (click)="openDialog()"> <mat-icon>edit</mat-icon></button></div>
                <p>
                   The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                   A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                   bred for hunting.
                </p>
              </div><hr/>
              <div>
              <mat-card-subtitle style="font-size: 17px">biashara ya tatu</mat-card-subtitle>
              <mat-card-subtitle>
                Madawa
              </mat-card-subtitle><div style="float:right"><button mat-icon-button (click)="openDialog()"> <mat-icon>edit</mat-icon></button></div>
                  <p>
                     The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                     A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                     bred for hunting.
                  </p>
                </div><hr/>
          </mat-card-content> </mat-tab>
    </mat-tab-group>
    <!-- <button >View All</button> -->
  </mat-card-actions>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->

 
</mat-card></div></div>