<div style="background-color:#F5F5F5; width: 100% ">
  <div style="margin: 20px auto auto; width:70%; "><mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Idd Magohe</mat-card-title>
    <mat-card-subtitle>PhD, Msc, Bcs Civil Engineer</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <mat-tab-group>
      <mat-tab label="Basic Info">
          <mat-card-content>

           <dproz-basic-info>

           </dproz-basic-info>

            </mat-card-content>
         </mat-tab>
      <mat-tab label="Services">   <mat-card-content>
        <div style="float:right; clear: both;"><button (click)="openDialog()">Add</button></div>
   
         <div><div style="float:right; clear: both;"><button (click)="openDialog()">Edit</button></div>
            <mat-card-title>Maharagwe</mat-card-title>
    <mat-card-subtitle>Chakula</mat-card-subtitle>
           <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
           </p>
         </div><hr/>
         <div><div style="float:right"><button (click)="openDialog()">Edit</button></div>
            <h4>Kuuza Ugali</h4><h5>Chakula</h5>
            <p>
               The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
               A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
               bred for hunting.
            </p>
          </div><hr/>
          <div><div style="float:right"><button (click)="openDialog()">Edit</button></div>
              <h4>Biashara ya pili</h4><h5>Mboga</h5>
              <p>
                 The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                 A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                 bred for hunting.
              </p>
            </div><hr/>
            <div><div style="float:right"><button (click)="openDialog()">Edit</button></div>
                <h4>biashara ya tatu</h4><h5>Madawa</h5>
                <p>
                   The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                   A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                   bred for hunting.
                </p>
              </div><hr/>
        </mat-card-content> </mat-tab>
      <mat-tab label="Experience">   <mat-card-content>
          <p>
           sadfdsfdsf
          </p>
        </mat-card-content> </mat-tab>
    </mat-tab-group>
    <!-- <button >View All</button> -->
  </mat-card-actions>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->

 
</mat-card></div></div>