<div class="form-container overlay">
  <div class="row">
    <div class="offset-md-5 offset-sm-3 col-md-14 col-sm-18 form">
      <div class="form-text">
        <h2 class="overlay-text">Create An Account</h2>
        <p class="overlay-text">Please fill in your information and choose to be Provider or Consumer.</p>
      </div>
      <div class="form-inputs">
        <div class="form-icon"> 
          <p>SIGNUP</p>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="form-element">
            <label for="first-name">FIRST NAME</label>
            <input type="text" name="" id="first-name"  placeholder="Enter First Name" formControlName="firstName">
            <span *ngIf="hasError('firstName', 'required')" class="error">Please enter first name.</span>
            <span *ngIf="hasError('firstName', 'minlength')" class="error">First Name should be at least 2 characters.</span>
          </div>
          <div class="form-element">
            <label for="last-name">LAST NAME</label>
            <input type="text" name="" id="last-name" placeholder="Enter Last Name" formControlName="lastName">
            <span *ngIf="hasError('lastName', 'required')" class="error">Please enter last name.</span>
            <span *ngIf="hasError('lastName', 'minlength')" class="error">Last Name should be at least 2 characters.</span>
          </div>
          <div class="form-element">
            <label for="email">EMAIL</label>
            <input type="text" name="" id="email" placeholder="Enter Email" formControlName="emailAddress">
            <span *ngIf="hasError('emailAddress', 'required')" class="error">Please enter your email.</span>
            <span *ngIf="hasError('emailAddress', 'invalidEmail')" class="error">Please enter a valid email.</span>
          </div>
          <div class="form-element">
            <label for="password">PASSWORD</label>
            <input type="password" name="password" id="password" placeholder="Enter Password" formControlName="password">
            <span *ngIf="hasError('password', 'required')" class="error">Please enter a password.</span>
            <span *ngIf="hasError('password', 'minlength')" class="error">Password should be at least 8 characters.</span>
          </div>
          <div class="form-element">
            <label for="name">RE-TYPE PASSWORD</label>
            <input type="password" name="" id="retype-password" placeholder="Re-Enter Password" formControlName="repeatPassword">
            <span *ngIf="hasError('repeatPassword', 'required')" class="error">Please re-enter your password.</span>
            <span *ngIf="signupForm.get('repeatPassword').getError('passMismatch')" class="error">The passwords do not match. Please retry.</span>
          </div>
          <div class="user-type form-element">
            <p>USER TYPE</p>
            <input type="checkbox" name="Service Provider" id="PRO" (click)="userType($event)" [checked]="user==='PRO'">
            <label for="PRO">Service Provider</label>
            <input type="checkbox" name="Service Consumer" id="USER" (click)="userType($event)" [checked]="user==='USER'">
            <label for="USER">Service Consumer</label>
          </div>
          <span *ngIf="hasError('userType')" class="error">Please choose service type.</span>
          <div *ngIf="signupForm.get('userType').value==='PRO'" class="form-element">
            <select id="state" (change)="addressChange($event)">
              <option [value]=null style="display: none">Select State</option>
              <option *ngFor="let state of states" [value]="state._region" [selected]="signupForm.getRawValue().address.region===state._region">{{state._region}}</option>
            </select>
            <select id="city" (change)="addressChange($event)">
              <option [value]=null style="display: none">Select City</option>
              <option *ngFor="let city of cities" [value]="city._city" [selected]="signupForm.getRawValue().address.city===city._city">{{city._city}}</option>
            </select>
            <select id="county" (change)="addressChange($event)">
              <option [value]=null style="display: none">Select County</option>
              <option *ngFor="let county of counties" [value]="county._county" [selected]="signupForm.getRawValue().address.county===county._county">{{county._county}}</option>
            </select>
            <select id="street" (change)="addressChange($event)">
              <option [value]=null style="display: none">Select Street</option>
              <option *ngFor="let street of streets" [value]="street._street" [selected]="signupForm.getRawValue().address.street===street._street">{{street._street}}</option>
            </select>
            <!-- <span *ngIf="signupForm.get('repeatPassword').getError('passMismatch')" class="error">The passwords do not match. Please retry.</span> -->
          </div>
          <re-captcha [formControlName]="'recaptcha'" (resolved)="resolved($event)" siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></re-captcha>
          <button class="btn btn-primary" type="submit" value="Submit" [disabled]="signupForm.invalid">SUBMIT</button>
        </form>
        
      </div>
    </div>

  </div>
</div>