
<div *ngIf="editForm">
  <form [formGroup]="credentialForm">
    <div  class="form-container">
      <!-- //*ngFor="let credential in credentials" -->
        <mat-form-field>
            <mat-label>Credential Type</mat-label>
            <mat-select  matInput formControlName="credentialType" placeholder="Select Credential Type">
              <mat-option *ngFor="let credential of credentials" [value]="credential.Id" >{{credential.Name}}</mat-option>
            
            </mat-select>
          </mat-form-field>

          <mat-form-field >
              <mat-label>Credential Description</mat-label>
              <textarea matInput formControlName="credentialDescription" placeholder="Enter Description"></textarea>
              <mat-error *ngIf="!credentialForm.controls['credentialDescription'].valid">project description is required</mat-error>
              <mat-icon matSuffix>adjust</mat-icon>
              <mat-hint>project description</mat-hint>
            </mat-form-field>

      <mat-form-field >
          <mat-label>Credential Id</mat-label>
          <input matInput formControlName="CredentialId" placeholder="Enter ID">
          <mat-error *ngIf="!credentialForm.controls['CredentialId'].valid">project name is required</mat-error>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>project name</mat-hint>
        </mat-form-field>
      
  
        
     
        <mat-form-field >
          <mat-label>Effective Date</mat-label>
          <input matInput formControlName="startDate" [matDatepicker]="startDate" placeholder="Choose start date">
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
          <mat-error *ngIf="!credentialForm.controls['startDate'].valid">start date is required</mat-error>
          <mat-hint>start date</mat-hint>
        </mat-form-field>
      
  
  
        <mat-form-field>
          <mat-label>Expire Date</mat-label>
          <input matInput formControlName="endDate" [matDatepicker]="endDate" placeholder="Choose end date">
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
          <mat-error *ngIf="!credentialForm.controls['endDate'].valid">end date is required</mat-error>
          <mat-hint>end date</mat-hint>
        </mat-form-field>
  
  
        <mat-form-field >
            <mat-label>Issuing Authority</mat-label>
            <input matInput formControlName="authorityName" placeholder="Enter Authrity Name">
            <mat-error *ngIf="!credentialForm.controls['authorityName'].valid">Issuing Authority is required</mat-error>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>authority name</mat-hint>
          </mat-form-field>
        
          <div style="width:100%; clear:both;">
              <div style="float:left; width:100%">
            
                <input 
                style="display: none"  capture="camera"
                type="file" #image accept="image/*"  (change)="onFileChanged($event)">
              <button mat-button (click)="image.click()">Add Photo( 3 advisable)</button>
              
              <!-- <button mat-button (click)="onUpload()">Upload!</button>  -->
             </div>
             <div formArrayName="attachments">

          
              <div *ngFor="let photo of credentialForm.get('attachments').controls; let i=index" style="float:left; width:290px; padding: 10px;">
                <div [formGroupName]="i">  
                <div  style=" overflow-wrap: break-word;">

                      <mat-form-field style="width:270px;" >
                          <input matInput type="text"   formControlName="caption"  placeholder="Caption">
                        
                          <button mat-button *ngIf=credentialForm.controls.attachments.controls[i].controls.caption.value matSuffix mat-icon-button aria-label="Clear" (click)="experienceForm.controls['photos'].controls[i].controls['caption'].setValue('')">
                            <mat-icon>close</mat-icon>
                          </button>
                        </mat-form-field>

                      <!-- <textarea matInput placeholder="Leave a comment"></textarea> -->

                  </div>
                  <div style="float:right; margin: 10px 0px;"><button mat-icon-button (click)="removeImage(i)"> 
                    <mat-icon>delete</mat-icon></button></div>
                    <div style="margin: 20px 30px;">
                        <img width="90%" mat-card-image [src]= credentialForm.controls.attachments.controls[i].controls.url.value alt=credentialForm.controls.attachments.controls[i].controls.caption.value>
                        
                    </div></div>
                    
                    <!-- <div style=" overflow-wrap: break-word; font-size: 10px;">
                        {{experienceForm.controls['photos'].controls[i].controls['caption'].value}}
                        {{experienceForm.controls['photos'].controls[i].controls['caption']}}
                    </div> -->
              </div>
            </div>
              
              </div>
       
      </div>
  </form>
  </div>
  <div *ngIf="!editForm">
      <div style="float:left; color: 	#50B2EC;">
          Click the (+) Sign to Add Experience
          </div>
      <div style="float:right;">
          <button mat-icon-button (click)="addCredential()">
            <mat-icon>add</mat-icon></button>
          </div>
  <div>
  <div>
      <br>
       <br>
    <mat-card-subtitle style="font-size: 17px">Chakula</mat-card-subtitle>
  <mat-card-subtitle>Wali</mat-card-subtitle><div style="float:right; clear: both;"><button mat-icon-button (click)="editCredential()"> 
  <mat-icon>edit</mat-icon></button></div>
     <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
     </p>
     <mat-card-subtitle>Ugali</mat-card-subtitle><div style="float:right"><button mat-icon-button (click)="editCredential()"> <mat-icon>edit</mat-icon></button></div>
      <p>
         The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
         A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
         bred for hunting.
      </p>
   </div><hr/>
  
    <div>
    <mat-card-subtitle style="font-size: 17px">Biashara ya pili</mat-card-subtitle>
    <mat-card-subtitle>
        Mboga
      </mat-card-subtitle><div style="float:right"><button mat-icon-button (click)="editCredential()"> <mat-icon>edit</mat-icon></button></div>
        <p>
           The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
           A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
           bred for hunting.
        </p>
      </div><hr/>
      <div>
      <mat-card-subtitle style="font-size: 17px">biashara ya tatu</mat-card-subtitle>
      <mat-card-subtitle>
        Madawa
      </mat-card-subtitle><div style="float:right"><button mat-icon-button (click)="editCredential()"> <mat-icon>edit</mat-icon></button></div>
          <p>
             The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
             A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
             bred for hunting.
          </p>
        </div><hr/></div></div>