/* You can add global styles to this file, and also import other style files */

 @import 'variables';
 @import '~bootstrap/scss/bootstrap';

 @import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
   font-family: Larsseit,Helvetica,Arial,"Lucida Grande",sans-serif !important;
}

md-icon{
  font-family: 'Material Icons' !important;
}